$digital-clock-digit-part-stroke  = 6px
$digital-clock-ending-small       = 2px
$digital-clock-ending-large       = 4px
$digital-clock-digit-part-spacing = 1px
$digital-clock-digit-part-stroke  = 6px
$digital-clock-ending-small       = 2px
$digital-clock-ending-large       = 4px

$digital-clock-bg-color           = default('$digital-clock-bg-color', $widget-bg-color)
$digital-clock-digit-color        = default('$digital-clock-digit-color', $main-txt-color)


// —————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
// Day of week indicator
// —————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
.digital-clock__day-of-week__item--current {
  border-bottom-color: $digital-clock-digit-color;
}

// —————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
// Separator between hours & minutes
// —————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
.digital-clock__separator {
  content: '';
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8vmin;
  width: $digital-clock-digit-part-stroke;
  margin: 0 1.4vmin;
}
.digital-clock__separator:before,
.digital-clock__separator:after {
  content: '';
  display: block;
  background-color: $digital-clock-digit-color;
  width:  $digital-clock-digit-part-stroke;
  height: $digital-clock-digit-part-stroke;
}
.digital-clock__separator:before {
  margin-bottom: 2vmin;
}

// —————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
// Single digit
// —————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
.digital-clock__digit__part {
  position: absolute;
  display: block;
  background: $digital-clock-digit-color;
  opacity: .1;
  transition(opacity 400ms);
}
.digital-clock__digit__part--visible {
  opacity: 1;
}
.digital-clock__digit__part:before,
.digital-clock__digit__part:after {
  content: '';
  position: absolute;
  width:  0;
  height: 0;
  border: $digital-clock-digit-part-stroke solid transparent;
}

//  ————
// :    :
//  ....    Digit TOP part
// :    :
//  ....
//
.digital-clock__digit__part--top {
}
.digital-clock__digit__part--top:before {
  border-width: $digital-clock-ending-small $digital-clock-digit-part-stroke $digital-clock-ending-large 0;
  border-right-color: $digital-clock-digit-color;
  left: -($digital-clock-digit-part-stroke);
}
.digital-clock__digit__part--top:after {
  border-width: $digital-clock-ending-small 0 $digital-clock-ending-large $digital-clock-digit-part-stroke;
  border-left-color: $digital-clock-digit-color;
  left: 100%;
}

//  ....
// :    :
//  ————    Digit MIDDLE part
// :    :
//  ....
//
.digital-clock__digit__part--middle {
}
.digital-clock__digit__part--middle:before {
  border-width: ($digital-clock-digit-part-stroke / 2);
  border-right-color: $digital-clock-digit-color;
  left: -($digital-clock-digit-part-stroke);
}
.digital-clock__digit__part--middle:after {
  border-width: ($digital-clock-digit-part-stroke / 2);
  border-left-color: $digital-clock-digit-color;
  left: 100%;
}

//  ....
// :    :
//  ....    Digit BOTTOM part
// :    :
//  ————
//
.digital-clock__digit__part--bottom {
}
.digital-clock__digit__part--bottom:before {
  border-width $digital-clock-ending-large $digital-clock-digit-part-stroke $digital-clock-ending-small 0
  border-right-color $digital-clock-digit-color
  left -($digital-clock-digit-part-stroke)
}
.digital-clock__digit__part--bottom:after {
  border-width: $digital-clock-ending-large 0 $digital-clock-ending-small $digital-clock-digit-part-stroke;
  border-left-color: $digital-clock-digit-color;
  left: 100%;
}

.digital-clock
  &__digit
    &__part
      &--top-right,
      &--bottom-right,
      &--bottom-left,
      &--top-left
        width $digital-clock-digit-part-stroke
        height "calc(50% - %s)" % ($digital-clock-digit-part-stroke * 1.5 + $digital-clock-digit-part-spacing * 2)
  
      &--top-right
        top   ($digital-clock-digit-part-stroke + $digital-clock-digit-part-spacing)
        right 0
  
      &--bottom-right
        bottom ($digital-clock-digit-part-stroke + $digital-clock-digit-part-spacing)
        right  0
  
      &--bottom-left
        bottom ($digital-clock-digit-part-stroke + $digital-clock-digit-part-spacing)
        left   0
  
      &--top-left
        top  ($digital-clock-digit-part-stroke + $digital-clock-digit-part-spacing)
        left 0

      &--top-right,
      &--top-left
        &:after
          border-width ($digital-clock-digit-part-stroke / 2)
          border-top-color $digital-clock-digit-color
          top 100%
  
      &--bottom-right,
      &--bottom-left
        &:before
          border-width ($digital-clock-digit-part-stroke / 2)
          border-bottom-color $digital-clock-digit-color
          top -($digital-clock-digit-part-stroke)
  
      &--top-right
        &:before
          border-width $digital-clock-ending-small 0 $digital-clock-ending-large $digital-clock-digit-part-stroke
          border-bottom-color $digital-clock-digit-color
          top -($digital-clock-digit-part-stroke)
  
      &--bottom-right
        &:after
          border-width $digital-clock-ending-large 0 $digital-clock-ending-small $digital-clock-digit-part-stroke
          border-top-color $digital-clock-digit-color
          top 100%
  
      &--bottom-left
        &:after
          border-width $digital-clock-ending-large $digital-clock-digit-part-stroke $digital-clock-ending-small 0
          border-top-color $digital-clock-digit-color
          top 100%
  
      &--top-left
        &:before
          border-width $digital-clock-ending-small $digital-clock-digit-part-stroke $digital-clock-ending-large 0
          border-bottom-color $digital-clock-digit-color
          top -($digital-clock-digit-part-stroke)
